
/****** COLOR PALETTE *******/

$black:		 	black;
$light-grey: 	#A5A5A5;
$purple: 	 	#7f60b2; 
$lavendar:		#BF94E4;
$white:			#fff;
$maroon:		#A12B2B;

/******** DEFINED VARIABLES ********/

$footer-bg:		$black;
$footer-font: 	$light-grey;
$footer-icons: 	$purple;

